<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>All Characters</h1>
    <ul class="characters">
    <% for(let i=0; i < characters.length; i++) {%>
                <li class="character">
                            <span><%= characters[i].firstName %></span>
                            <span><%= characters[i].lastName %></span>
                            <span><%= characters[i].characterClass %></span>
                            <button class="deleteBtn">Delete Character</button>
                </li>
    <% } %>
    </ul>
    <h2>Add A Character:</h2>

 <div class="addCharacter-div">
        <div class="form-div">
            <form class="characterForm" action="/characters/createCharacter" method="POST">
                <input type="text" placeholder="First Name" name="firstName">
                <input type="text" placeholder="Last Name" name="lastName">
                <select name="class" id="classes">
                    <option value='Warrior'>Warrior</option>
                    <option value="Archer">Archer</option>
                    <option value="Balanced">Balanced</option>
                    <option value="Mage">Mage</option>
                    <option value="Assassin">Assassin</option>
                    <option value="Healer">Healer</option>
                </select>
                <input class='submit' type="submit">
            </form>
        </div>
 </div>
    <script src='js/main.js'></script>
</body>
</html>