<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    
 <h1>Add A Character:</h1>

 <div class="characterDiv">
        <div class="form-div">
            <form class="characterForm" action="/characters/createCharacter" method="POST">
                <input type="text" placeholder="First Name" name="firstName">
                <input type="text" placeholder="Last Name" name="lastName">
                <input type="text" readonly class="classInput"  placeholder="Selected Class" name="class">
                <input type="text" readonly class="weaponInput" placeholder="Selected Weapon" name="weapon">
                <input class='submit' type="submit">
            </form>
        </div>

        <h2>Classes</h2>
        <div class="classes">
            <button class="characterClass">Warrior</button>
            <button class="characterClass">Archer</button>
            <button class="characterClass">Balanced</button>
            <button class="characterClass">Mage</button>
            <button class="characterClass">Assassin</button>
            <button class="characterClass">Healer</button>
        </div>
        <h2>Weapon of Choice</h2>

        <div class="weapons">
            <h3 class="weapon_category">Swords</h3>
                <ul class="weapon_list swords">
                    <li class="long_sword weapon">Long Sword</li>
                    <li class="short_sword weapon">Short Sword</li>
                </ul>

            <h3 class="weapon_category">Swords</h3>
                <ul class="weapon_list daggers">
                    <li class="short_dagger weapon">Short Dagger</li>
                 </ul>
            <h3 class="weapon_category">Bows</h3>
                <ul class="weapon_list bows">
                    <li class="long_bow weapon">Long Bow</li>
                    <li class="compact_bow weapon">Compact Bow</li>
                </ul>
            <h3 class="weapon_category">Magic Wands</h3>
                <ul class="weapon_list magic_wands">
                    <li class="crystal_wand weapon">Crystal Staff</li>
                    <li class="wooden_wand weapon">Wooden Staff</li>
                </ul>
        </div>
    </div>

    <h1 class="main">All Characters</h1>
    <div class="all-characters">
        <ul class="characters">
        <% for(let i=0; i < characters.length; i++) {%>
                <div class="character-div">
                            <li class="character" data-id='<%=characters[i]._id%>'>
                                        <span class="character-span"><%= characters[i].firstName %></span>
                                        <span class="character-span"><%= characters[i].lastName %> </span>
                                        <button class="deleteBtn">Delete Character</button>
                                        <button type='submit 'class="configBtn">Configure</button>
                            </li>
                </div>
        <% } %>
        </ul>
    </div>
    <script src='js/main.js'></script>
</body>
</html>